.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
/doc/
/inst/doc/
/Meta/
prolfquapp.Rcheck/
prolfquapp_*.tar.gz
vignettes/.install_extras
docs/
inst/templates/quarto/*.html
!inst/templates/quarto/fgcz_header_quarto.html
inst/templates/quarto/plots/
