*.pdf
*.html
.DS_Store
dataset

FragPipeDDA/*/
FragPipeDIA/*/
FragPipeTMT/*/
exportShiny/*/
GenericQC/*/
DIANN/*/
DIANN/*.zip
Specnaut/*
mzMine/*
phospho/*

CompoundDiscovery/*/

MaxQuantDDA/*/
MaxQuantDDA/*.zip

SE2/*/
specnaut/*/
